html
   head
      title= title
      link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous")
      link(rel="stylesheet" type="text/css" href="stylesheets/styles.css")
      script(src="/javascripts/helpers.js")
   body
      h1= title
      button(type="button" class="btn themed-color" onclick="connectwallet('nami');") Connect

      //-button(type="button" class="btn themed-color" onclick="mintTokenFromNativeScript(1, 'CENT', 'mint1CENTButtonSpinner');")
         span Mint 1 CENT
         span(class="spinner-border spinner-border-sm" role="status" id="mint1CENTButtonSpinner" style="margin-left: 5px; display:none;")
      
      button(type="button" class="btn themed-color" data-bs-toggle="modal" data-bs-target="#mintTokenDialog" onclick = "mintingStandard = '68'; document.getElementById('mintTokenMetadata').innerHTML = syntaxHighlight(CIP68METADATATEMPLATE);")
         span Mint CIP-68 Token(s) 
         span(class="spinner-border spinner-border-sm" role="status" id="mintTokenCIP68ButtonSpinner" style="margin-left: 5px; display:none;")

      //-button(type="button" class="btn themed-color" data-bs-toggle="modal" data-bs-target="#burnTokenDialog")
         span Burn Token(s) 
         span(class="spinner-border spinner-border-sm" role="status" id="burnTokenButtonSpinner" style="margin-left: 5px; display:none;")

      button(type="button" class="btn themed-color" data-bs-toggle="modal" data-bs-target="#mintTokenDialog" onclick = "mintingStandard = '88'; document.getElementById('mintTokenMetadata').innerHTML = syntaxHighlight(CIP88METADATATEMPLATE);")
         span Mint CIP-88 Token(s) 
         span(class="spinner-border spinner-border-sm" role="status" id="mintTokenCIP88ButtonSpinner" style="margin-left: 5px; display:none;")

      div(id="pmd-utxo-list")

      div(class="modal modal-dialog-scrollable modal-xl fade" id="mintTokenDialog" tabindex="-1" aria-labelledby="mintTokenDialogLabel" aria-hidden="true")
         div(class="modal-dialog")
            div(class="modal-content")
               div(class="modal-header")
                  button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
               div(class="modal-body light") 
                  div(class="d-flex flex-row")
                     h1(class="modal-title fs-5 padding" id="mintTokenDialogLabel") Mint Token(s)
                  div(class="input-group mb3")
                     span(class="input-group-text" id="mintTokenNameInputLabel") Token name
                     input(type="text" class="form-control" placeholder="CENT" id="mintTokenNameInput" aria-label="Tokenname")
                  div(class="input-group mb3")
                     span(class="input-group-text" id="mintTokenNameInputLabel") Amount
                     input(type="number" value="1" id="mintTokenAmountInput" class="form-control" aria-label="Amount of tokens") 
                  div(class="input-group mb3")
                     span(class="input-group-text" id="mintTokenMetadataTextareaLabel") Metadata preview
                     //-textarea(id="mintTokenMetadataTextarea" class="form-control" aria-label="Token metadata") 
                     code(id="mintTokenMetadata" class="form-control")
               div(class="modal-footer d-flex justify-content-between")
                  button(type="button" class="btn themed-color" data-bs-dismiss="modal") BACK
                  button(type="button" class="btn themed-color" onclick="const dataToHash = CIP88METADATATEMPLATE['1']; hashData(dataToHash).then(hash => signData(hash, 'mintTokenMetadata'));") SIGN DATA
                  button(type="button" class="btn themed-color" data-bs-dismiss="modal" id="confirmMintTokenButton" onclick=`
                  const tokenName = document.getElementById('mintTokenNameInput').value; 
                  const amountTokens = document.getElementById('mintTokenAmountInput').value; 
                  const metadata = document.getElementById('mintTokenMetadataTextarea').value; 
                  try { 
                     const metadataJSON = JSON.parse(metadata);
                     if(mintingStandard == '68') { 
                        mintCIP68Tokens(tokenName, amountTokens, metadataJSON, 'mintTokenCIP68ButtonSpinner');
                     }
                     else if(mintingStandard == '88') {
                        mintCIP88Tokens(tokenName, amountTokens, metadataJSON, 'mintTokenCIP88ButtonSpinner');
                     }
                     else {
                        alert('Unsupported minting standard');
                     }
                  }
                  catch(error) {
                     console.log('error', error);
                     alert('Verify that metadata is correct');
                  }`) CONFIRM   

      //-div(class="modal modal-dialog-scrollable modal-xl fade" id="burnTokenDialog" tabindex="-1" aria-labelledby="burnTokenDialogLabel" aria-hidden="true")
         div(class="modal-dialog")
            div(class="modal-content")
               div(class="modal-header")
                  button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
               div(class="modal-body light") 
                  div(class="d-flex flex-row")
                     h1(class="modal-title fs-5 padding" id="burnTokenDialogLabel") Burn Token(s)
                  input(type="text" value="CENT" id="burnTokenNameInput")
                  input(type="number" value="10000000" id="burnTokenAmountInput")
               div(class="modal-footer d-flex justify-content-between")
                  button(type="button" class="btn themed-color" data-bs-dismiss="modal") BACK
                  button(type="button" class="btn themed-color" data-bs-dismiss="modal" id="confirmBurnTokenButton" onclick=`const tokenName = document.getElementById('burnTokenNameInput').value; const amountTokens = document.getElementById('burnTokenAmountInput').value; burnCIP68TokensAiken(tokenName, amountTokens,'burnTokenButtonSpinner', '${validatorName}');`) CONFIRM   

      
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous")
      script(type="module" src="javascripts/wallet-integration.js")
      script(src="https://cdn.jsdelivr.net/npm/@stricahq/typhonjs@1.2.8/dist/index.min.js")

      //--var onloadScript = `window.onload=function() { getPMDUTxOs(); }`;
      //-script !{onloadScript}